* {
  font-family:"Roboto Slab", sans-serif;
  color: black;
  font-weight: 700;
  margin: 0;
  padding:0;
}


html{
  background-color: white;
}

body {
  background-color: white;
  margin: 0;
  color: black;
}

div {
  background-color: none;
  float: left;
  display: inline-block;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 16px;
}

h2#datavis, h2#pdesign, h2#animation, h2#draw, h2#painting {
  font-size: 22px;
  margin-top: 50px;
}



h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #007897;
  opacity: .5;
  margin-top: -5px;
  font-size: 14px;
}

a {
  font-family: "Roboto", sans-serif;
  color: black;
}

a:hover, a:focus, a:active, a.active {
  text-decoration: none;
  color: orange;
  font-weight: 700;
  opacity: 1;
}

li, li > a  {
  font-family: "Roboto", sans-serif;
  font-weight: 100 !important;
  margin-left: 15px;
  font-size: 12px;
  list-style: none;
  color: black;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  margin-bottom: -20px;
}

h4, #description {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

h4 > a {
  font-weight: 300;
}

#description {
  margin: 20px 0px;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  width: 100%;
 }

.sub > h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 700;
  clear:both;
  float: left;
  width: 100%;
}

.sub > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

img {
  padding: 5px;
}

.sub > .col-md-6{
  height: 200px;
}

.title {
  padding-top: 20px;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 100;
  font-size: 14px;
  border-radius: 2px;
}

iframe {
  margin-top: 10px;
 }

li.smol > a {
  font-size: 10px !important;
}

#front {
  padding: 50px;
}

#side, .col-md-8 {
  margin-top: 50px !important;
  position: relative !important;
  height: 90vh !important;
  overflow-y: scroll !important;
  padding-left: 50px;
}

#illustration {
  height: 100vh;
}

.page {
  padding: 40px;
 }

.navigation {
  float: right;
}

#nav {
  padding-top: 50px;
 }

.blinking-cursor {
  margin-bottom: 5px;
  font-weight: 300;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

/* style list scroll bars */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.image {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Poptrox Popup */

  .poptrox-overlay {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .poptrox-popup {
    background: rgba(31, 34, 36, 0.925);
    box-shadow: 0 1em 3em 0.5em rgba(0, 0, 0, 0.25);
    cursor: default;
  }

    .poptrox-popup:before {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      background-image: -moz-linear-gradient(to left, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0)), -moz-linear-gradient(to right, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0));
      background-image: -webkit-linear-gradient(to left, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0)), -webkit-linear-gradient(to right, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0));
      background-image: -ms-linear-gradient(to left, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0)), -ms-linear-gradient(to right, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0));
      background-image: linear-gradient(to left, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0)), linear-gradient(to right, rgba(31,34,36,0.35), rgba(31,34,36,0) 10em, rgba(31,34,36,0));
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      opacity: 1;
    }

    .poptrox-popup .closer {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      background-image: url("images/close.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 3em;
      height: 5em;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 5em;
      z-index: 2;
    }

    .poptrox-popup .nav-previous,
    .poptrox-popup .nav-next {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      background-image: url("images/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 5em;
      cursor: pointer;
      height: 8em;
      margin-top: -4em;
      opacity: 0;
      position: absolute;
      top: 50%;
      width: 6em;
      z-index: 2;
    }

    .poptrox-popup .nav-previous {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
      left: 0;
    }

    .poptrox-popup .nav-next {
      right: 0;
    }

    .poptrox-popup .loader {
      -moz-animation: spinner 1s infinite linear !important;
      -webkit-animation: spinner 1s infinite linear !important;
      -ms-animation: spinner 1s infinite linear !important;
      animation: spinner 1s infinite linear !important;
      background-image: url("images/spinner.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 2em;
      height: 2em;
      left: 50%;
      line-height: 2em;
      margin: -1em 0 0 -1em;
      opacity: 0.25;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 2em;
    }

    .poptrox-popup:hover .closer,
    .poptrox-popup:hover .nav-previous,
    .poptrox-popup:hover .nav-next {
      opacity: 0.5;
    }

      .poptrox-popup:hover .closer:hover,
      .poptrox-popup:hover .nav-previous:hover,
      .poptrox-popup:hover .nav-next:hover {
        opacity: 1.0;
      }

    .poptrox-popup.loading:before {
      opacity: 0;
    }

    body.touch .poptrox-popup .closer,
    body.touch .poptrox-popup .nav-previous,
    body.touch .poptrox-popup .nav-next {
      opacity: 1.0 !important;
    }

    @media screen and (max-width: 980px) {

      .poptrox-popup .closer {
        background-size: 3em;
      }

      .poptrox-popup .nav-previous,
      .poptrox-popup .nav-next {
        background-size: 4em;
      }

    }

    @media screen and (max-width: 736px) {

      .poptrox-popup:before {
        display: none;
      }

      .poptrox-popup .caption {
        display: none !important;
      }

      .poptrox-popup .closer,
      .poptrox-popup .nav-previous,
      .poptrox-popup .nav-next {
        display: none !important;
      }

    }

  #main {
    -moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -moz-filter 0.5s ease;
    -webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
    -ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -ms-filter 0.5s ease;
    transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, filter 0.5s ease;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

    #main .thumb {
      -moz-transition: opacity 1.25s ease-in-out;
      -webkit-transition: opacity 1.25s ease-in-out;
      -ms-transition: opacity 1.25s ease-in-out;
      transition: opacity 1.25s ease-in-out;
      -moz-pointer-events: auto;
      -webkit-pointer-events: auto;
      -ms-pointer-events: auto;
      pointer-events: auto;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      width: 100%;
      height: 500px;
      opacity: 1;
      overflow: hidden;
      position: relative;
      margin: 5px 5px 0px 0px;
    }

    #main .col-md-6{
      margin: 5px 5px 0px 0px;
      height: 200px !important;
      width: 49%;
    }

      #main .thumb:after {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        background-size: cover;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      #main .thumb > .image {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

    #main:after {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      -moz-transition: opacity 0.5s ease, visibility 0.5s;
      -webkit-transition: opacity 0.5s ease, visibility 0.5s;
      -ms-transition: opacity 0.5s ease, visibility 0.5s;
      transition: opacity 0.5s ease, visibility 0.5s;
      background: rgba(36, 38, 41, 0.25);
      content: '';
      display: block;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;
      z-index: 1;
    }

/* Wrapper */

  #wrapper {
    -moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -moz-filter 0.5s ease;
    -webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
    -ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -ms-filter 0.5s ease;
    transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, filter 0.5s ease;
    position: relative;
  }

    #wrapper:after {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      -moz-transition: opacity 0.5s ease, visibility 0.5s;
      -webkit-transition: opacity 0.5s ease, visibility 0.5s;
      -ms-transition: opacity 0.5s ease, visibility 0.5s;
      transition: opacity 0.5s ease, visibility 0.5s;
      background: rgba(36, 38, 41, 0.5);
      content: '';
      display: block;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      z-index: 1;
    }


    body.modal-active #wrapper {
      -moz-filter: blur(8px);
      -webkit-filter: blur(8px);
      -ms-filter: blur(8px);
      filter: blur(8px);
    }

      body.modal-active #wrapper:after {
        -moz-pointer-events: auto;
        -webkit-pointer-events: auto;
        -ms-pointer-events: auto;
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
        z-index: 10003;
      }

    #wrapper:before {
      -moz-animation: spinner 1s infinite linear !important;
      -webkit-animation: spinner 1s infinite linear !important;
      -ms-animation: spinner 1s infinite linear !important;
      animation: spinner 1s infinite linear !important;
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      -moz-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
      -webkit-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
      -ms-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
      transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
      background-image: url("images/spinner.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      font-size: 2em;
      height: 2em;
      left: 50%;
      line-height: 2em;
      margin: -1em 0 0 -1em;
      opacity: 0;
      text-align: center;
      top: 75%;
      visibility: hidden;
      width: 2em;
    }

    body.loading #wrapper:before {
      -moz-transition: opacity 1s ease-out !important;
      -webkit-transition: opacity 1s ease-out !important;
      -ms-transition: opacity 1s ease-out !important;
      transition: opacity 1s ease-out !important;
      -moz-transition-delay: 0.5s !important;
      -webkit-transition-delay: 0.5s !important;
      -ms-transition-delay: 0.5s !important;
      transition-delay: 0.5s !important;
      opacity: 0.25;
      top: 50%;
      visibility: visible;
    }

@media screen and (max-width: 700px){
  #bb-container {
    width: 100% !important;
  }
  div#nav-desk {
    visibility: hidden;
    display: none !important;
  }
}
